<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOTTERY 회원가입</title>
</head>

<body style="display: flex; flex-direction: column; align-items: center;" >
    {% if alert == 1 %}
    <script>
        alert('비밀번호가 일치하지 않습니다.')
    </script>
    {% endif %}
    {% if alert == 2 %}
    <script>
        alert('이미 있는 ID이거나 빈 항목이 있습니다.')
    </script>
    {% endif %}

    <h1>회원가입 페이지</h1>

    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        ID :
        <input type="text" name="username" placeholder="ID" required><br>
        Password :
        <input type="password" name="password" placeholder="Password" required><br>
        Password Confirmation :
        <input type="password" name="password_confirm" placeholder="Password를 다시 입력해주세요." required><br>
        e-mail :
        <input type="email" name="email" placeholder="e-mail" required><br>
        점주 :
        <input type="text" name="fullname" placeholder="이름을 입력해주세요" required><br>
        지점 :
        <select name="location" required>
            <option value="">선택</option>
            <option value="강남역점">강남역점</option>
            <option value="대치점">대치점</option>
            <option value="코엑스점">코엑스점</option>
            <option value="수서역사점">수서역사점</option>
            <option value="부천상동점">부천상동점</option>
            <option value="부천중동점">부천중동점</option>
            <option value="스타필드부천점">스타필드부천점</option>
            <option value="유니스트점">유니스트점</option>
            <option value="구영리점">구영리점</option>
        </select><br>
        주소 :
        <input type="text" name="address" placeholder="주소" required><br>
        휴대전화 :
        <input type="tel" name="phone" placeholder="휴대전화 번호 ex)010-1234-5678" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required><br>
        <input type="submit" value="회원가입">
    </form>
</body>

</html>