.courses-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	margin-bottom: 30px;
	margin-top:60px;
	/* padding-bottom: 10px; */
	overflow: hidden;
    width: 60vw;
    height: 55vh;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
  letter-spacing: 1px;
  font-size: medium;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: rgb(218, 41, 28);
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
  background-color: rgb(218, 41, 28);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 70%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: rgb(218, 41, 28);
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

.btn:hover{
  opacity:0.7;
}

/* 여기서 부터 Form태그 꾸밈 */
*{
	outline:none;
	box-sizing: border-box;
}

/* .wrapper{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 0 20px;
} */

.contact-form{
	
	margin: 0 auto;
	/* background: rgba(0, 0, 0, 0.8); */
	padding: 30px;
	border-radius: 5px;
	display:flex;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
}

.input-fields{
	display:flex;
	flex-direction:column;
	margin-right:3%;
}

.input-fields, .msg{
	width: 45%;
}

.input-fields .input, .msg textarea{
	margin:10px 0;
	background:transparent;
	border:0;
	border-bottom:2px solid goldenrod;
	padding:10px;
	color:goldenrod
}

.msg textarea{
	height:207.5px !important;
}
/* chrome */
::-webkit-input-placeholder{
	color:goldenrod;
}
/* firefox */
::-mox-input-placeholder{
	color:goldenrod;
}
/* IE */
::-ms-input-placeholder{
	color:goldenrod;
}

.btn{
	background:goldenrod;
	text-align: center;
	padding:15px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}


@media screen and (max-width: 768px) {
	.course-preview{
		display:none;
	}
	
	.btn{
		font-size:13px;
	}

	.progress-continer h6{
		font-size:15px;
	}

	.progress-continer h2{
		font-size:18px;
	}
	.contact-form{
		flex-direction: column;
	}

	.msg textarea{
		height: 80px;
	}
	.input-fields, .msg{
		width:100%;
	}
}