{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pc">
    <img src="{% static 'image/about_pic.png' %}" alt="" style="width: 100%;">
</div>
<div class="mobile">
    <img src="{% static 'image/mobile_about_pic.png' %}" alt="" style="width: 100%;">
</div>
<div class="team_intro">
    <div class="courses-container" style="min-height: calc(100vh-68px-235px);">
        <div class="course">
            <div class="course-preview" style="background-color: white;">
                <img src="{% static 'image/team/ys.jpg' %}" alt="" style="width:190px; height:190px;">
            </div>
            <div class="course-info">
                <h6>Front-end / PM</h6>
                <h2>조영상</h2>
                <button class="btn"><a href="https://papimon.tistory.com/">contact</a></button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview" style="background-color: white;">
                <img src="{% static 'image/team/yg.jpg' %}" alt="" style="width:190px; height:190px;">
            </div>
            <div class="course-info">
                <h6>Back-end</h6>
                <h2>복영규</h2>
                <button class="btn"><a href="">contact</a></button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview" style="background-color: white;">
                <img src="{% static 'image/team/default.jpg' %}" alt="" style="width:190px; height:190px;">
            </div>
            <div class="course-info">
                <h6>Back-end</h6>
                <h2>정현준</h2>
                <button class="btn"><a href="">contact</a></button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview" style="background-color: white;">
                <img src="{% static 'image/team/default.jpg' %}" alt="" style="width:190px; height:190px;">
            </div>
            <div class="course-info">
                <h6>Back-end / 기획</h6>
                <h2>차준형</h2>
                <button class="btn"><a href="">contact</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}