{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pc">
    <img src="{% static 'image/request_pic.png' %}" alt="" style="width: 100%;">
</div>
<div class="mobile">
    <img src="{% static 'image/mobile_request_pic.png' %}" alt="" style="width: 100%;">
</div>
<div style="min-height: 50vh;">
    <div class="courses-container">
        {% if requests %}
        {% for request in requests %}
        <div class="course">
            <div class="course-preview">
                {% if request.item == "로터스" %}
                <img id="getpic" src="{% static 'image/donut/lotus.png' %}" alt="" style="width:100%">
                {% elif request.item == "아이스크림" %}
                <img id="getpic" src="{% static 'image/donut/icecream.png' %}" alt="" style="width:100%">
                {% elif request.item == "초코홀릭" %}
                <img id="getpic" src="{% static 'image/donut/chocoholic.png' %}" alt="" style="width:100%">
                {% endif %}
            </div>
            <div class="course-info">
                <div class="progress-container">
                    <div class="progress"></div>
                    <span class="progress-text">
                        <h5>{{request.limit_time}}</h5>
                    </span>
                </div>
                <h6>{{request.item}}</h6>
                <h6>{{request.location}}</h6>
                <h2>{{request.remain}}개 부족</h2>
                <button class="btn"><a href="{% url 'request_detail' request.pk_num %}">제가 드릴게요</a></button>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>요청이없네?</h2>
        {% endif %}
    </div>
</div>
{% endblock content %}