{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- 지도 스타일 -->
<style>
    #map {
        height: 500px;
        width: 700px;
    }
</style>

<div class="pc">
    <img src="{% static 'image/share_pic.png' %}" alt="" style="width: 100%;">
</div>
<div class="mobile">
    <img src="{% static 'image/mobile_share_pic.png' %}" alt="" style="width: 100%;">
</div>

<div class="courses-container">
    <div class="course" style="width:800px;">
        <div class="course-preview">
            {% if detail.item == "로터스" %}
            <img id="getpic" src="{% static 'image/donut/lotus.png' %}" alt="" style="width:100%">
            {% elif detail.item == "아이스크림" %}
            <img id="getpic" src="{% static 'image/donut/icecream.png' %}" alt="" style="width:100%">
            {% elif detail.item == "초코홀릭" %}
            <img id="getpic" src="{% static 'image/donut/chocoholic.png' %}" alt="" style="width:100%">
            {% endif %}
        </div>
        <div class="course-info">
            <div class="progress-container">
                <div class="progress"></div>
                <span class="progress-text">
                    <h5>{{ detail.limit_time }}</h5>
                </span>
            </div>
            <h6>{{detail.item}}</h6>
            <h6>{{detail.location}}</h6>
            <h2>{{detail.remain}}개 남음</h2>
            <p>{{detail.contents}}</p>
            <p>{{detail.phone}}</p>
        </div>
    </div>
</div>


<div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    <div id="map" style="position:relative; overflow:hidden; width:800px; height: 300px;">
    </div>
</div>
<script>
    let map;
    var loc_lat = parseFloat({{detail.author.latitude}});
    var loc_lng = parseFloat({{detail.author.longitude}});

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: loc_lat, lng: loc_lng },
        zoom: 18,
    });

    // 마커 표시
    const marker = new google.maps.Marker({
        position: { lat: loc_lat, lng: loc_lng },
        map: map,
    });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHDqJNPiWkR0Tl5Hp1HZ11qY6aoyv3V28&callback=initMap" async
    defer>
    </script>

<div class="wrapper" style="width: 800px;">
    <div class="title">
        <h3>{{detail.location}} - {{detail.item}}</h3>
    </div>
    <div class="form">
        <form action="{% url 'share_accept' detail.pk_num %}" method="POST" onsubmit="return submit_click(true)"
            id="submit_form">
            {% csrf_token %}
            <div class="input_field">
                <label for="">요청 지점</label>
                <input type="text" class="input" value="{{user.profile.location}}" id="store" name="location" readonly>
            </div>
            <div class="input_field">
                <label for="">요청할 갯수</label>
                <input type="number" class="input" min="1" id="number" name="num" required>
            </div>
            <!-- <div class="input_field">
                <label for="">예상 픽업 시간</label>
                <input type="time" id="time" class="input" min="" max="22:00:00" required id="time">
            </div> -->
            <div class="input_field">
                <label for="">이메일 주소</label>
                <input type="email" value="{{user.email}}" class="input" name="email">
            </div>
            <div class="input_field">
                <label for="">휴대폰 번호</label>
                <input type="tel" class="input" value="{{user.profile.phone}}" placeholder="ex) 010-1234-5678"
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" name="phone">
            </div>
            <div class="input_field">
                <label for="">요청 사항</label>
                <textarea class="textarea" name="content"></textarea>
            </div>
            <div class="input_field">
                <input type="submit" value="제가 가져갈게요" class="btn">
            </div>
        </form>
    </div>
</div>
<br><br>
{% endblock content %}