{% extends "base.html" %} {% load static %} {% block content %}
<div class="pc">
    <img src="{% static 'image/write_pic.png' %}" alt="" style="width:100%">
</div>
<div class="mobile">
    <img src="{% static 'image/mobile_write_pic.png' %}" alt="" style="width: 100%;">
</div>

<div class="wrapper">
    <div class="title">
        <h2>Request 요청</h2>
                
    </div>
    <div class="form">
        <form action="" method="POST" id="submit_form" onsubmit=" return submit_click(true)">
            {% csrf_token %}
            <div class="input_field">
                <label for="">요청 지점</label>
                <input type="text" class="input" value="{{user.profile.location}}" id="store" name="location" readonly>
            </div>
            <div class="input_field">
                <label for="">부족한 품목</label>
                <div class="custom_select">
                    <select id="item" name="item" required>
                        <option value="">선택</option>
                        <option value="로투스 비스코프">로투스 비스코프</option>
                        <option value="아이스크림 인사이드 리고 피넛버터">아이스크림 인사이드 리고 피넛버터</option>
                        <option value="미니 오리지널 글레이즈드">미니 오리지널 글레이즈드</option>
                        <option value="초코홀릭">초코홀릭</option>
                        <option value="토블론 타이니">토블론 타이니</option>
                        <option value="리고 피넛버터">리고 피넛버터</option>
                        <option value="캐드베리 트월">캐드베리 트월</option>
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label for="">부족한 갯수</label>
                <input type="number" class="input" id="donut_number" name="item_num" required>
            </div>
            <div class="input_field">
                <label for="">요청 만료 시간</label>
                <!-- <input type="time" id="time" class="input" min="" max="22:00:00" name="limit_time" required> -->
                <input type="time" id="time" class="input" min="" max="" name="limit_time" required>
            </div>
            <div class="input_field">
                <label for="">이메일 주소</label>
                <input type="email" value="{{user.email}}" class="input" name="email">
            </div>
            <div class="input_field">
                <label for="">휴대폰 번호</label>
                <input type="tel" class="input" value="{{user.profile.phone}}" placeholder="ex) 010-1234-5678" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" name="phone">
            </div>
            <div class="input_field">
                <label for="">요청 사항</label>
                <textarea class="textarea" name="contents"></textarea>
            </div>
            <div class="input_field">
                <input type="submit" value="요청하기" class="btn">
            </div>
        </form>
    </div>
</div>
{% endblock content %}